* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
}
body {
  background-color: white;
}
.mainsection {
  background-image: url(img/bg.png);
    background-repeat: no-repeat;
  width: px;
  background-size: cover;
}


/*
font

*/

.cb{
  color: black !important;
}

.cg{
  color: grey;
}

.clghtg{
  color: lightgrey;
}

.cw{
  color: white !important;
}

.cgldn{
  color: goldenrod;
}

.cdgldn{
  color: darkgoldenrod;
}
.row {
  display: flex;
  flex-wrap: wrap;
}

.col {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%; /* Lebar default untuk kolom */

}

.discount-label {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: rgba(255, 197, 6, 0.994);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}
.line {
  text-decoration: line-through;
  text-decoration-color: black;
}
.featuredBtn {
  background-color: rgb(255, 217, 0);
  width: 150px;
  height: 40px;
}
.love-labe {
  position: absolute;
  top: 10px;
  left: 0px;
  background-color: rgba(255, 197, 6, 0.994);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link.active {
  background-color: rgb(255, 162, 0);
  width: 100px;
  height: 50xp; 
  cursor: pointer;
}

.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: white;
}
@media (max-width:576px){
  .dell{
    padding-left: 170px;
  }

  .col{
    border-right: none;
  }
  .card{
    width: 270px;
    height: 300px;
    
  }
  .btn.btn-warning {
    width: 150px;
    height: 60px;
  }
  .btn.btn-warning.sd{
    margin-bottom: 40px;
  }
  .row-bestSeller{
    width: 270px;
  height: 300px;
  align-items: center;
    flex-direction: column;
  }

}
@media (max-width:780px){
  .card > col{
    border-right: none;
  }
  .card{
    width: 150px;
    height: 200px;
  }

}
@media (min-width:770px){
  .card{
    width: 200px;
    height: 230px;

  }
  .discount-label{
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: rgba(255, 197, 6, 0.994);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
  }
  .row.justify-content-center {
    flex-direction: row;
  }
  .col-md-4 {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }

  .row.d-flex.justify-content-around.align-items-center {
    flex-direction: row !important;
}


}
@media (max-width:1200px){
  .card{
    width: 300px;
    height: 350px;
  }
}
@media (max-width:1400px){

}

